body{
    background: url(../images/top-background.jpg);
}
#left{
    padding: 5px; 
    float: left;
     width: 20%;
    
}
#right{
    padding: 5px; 
    float: right;
     width: 70%;
     background-color:rgb(165, 231, 226);
}
#contact{
    text-align: right;
}
#raport{
    border-color: red rgb(75, 4, 4); 
    border-style: solid; 
    word-wrap: break-word;
    background-color: azure;
}